NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://masar:masar_dev_pw@localhost:5432/masar_academy?schema=public"

JWT_ACCESS_SECRET="change-me"
JWT_ACCESS_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="change-me-too"
JWT_REFRESH_EXPIRES_IN="30d"
REFRESH_TOKEN_COOKIE_NAME="masar_refresh_token"

CORS_ORIGIN="http://localhost:3000"
